<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FridgeRaider</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/assets/css/foundation.css">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Cookie|Homemade+Apple|Vibur" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/recipe.css">
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>
  
  <body>

    {{{body}}}
    
    <script src="/assets/js/vendor/foundation.js"></script>
    <script src="/assets/js/vendor/what-input.js"></script>
    <script src="/assets/js/client.js"></script>
    <script src="/assets/js/login.js"></script>
    <script src="/assets/js/item.js"></script>
  </body>
</html>