    <div class = "background"></div>

    <div class = "container-2">

        <ul class = "menu align-right">
            <li><a id = "makeRecipe" href="#">Make a recipe >></a></li>
        </ul>

        <div class= "grid-container">

            <h1 style = "color: black">-fridge name-</h1>
            
            <div class = "grid-x">

                <div class = "cell medium-4">

                    <div class="callout">
                        <h5>Produce</h5>
                        <ul>
                            <li>Item</li>
                            <li>Item</li>
                            <li>Item</li>
                        </ul>
                    </div>

                    <div class="callout">
                        <h5>Meat</h5>
                        <ul>
                            <li>Item</li>
                            <li>Item</li>
                            <li>Item</li>
                        </ul>
                    </div>

                    <div class="callout">
                        <h5>Other</h5>
                        <ul>
                            <li>Item</li>
                            <li>Item</li>
                            <li>Item</li>
                        </ul>
                    </div>

            </div>

            <div class = "cell medium-3"></div>

            <div class = "cell medium-5">
                    <div class="card" style="width: 400px;">
                        <div class="card-divider">
                            Add an item!
                        </div>
                        <div class="card-section">
                            <form>
                                <label>Item Name 
                                    <input type = "text" placeholder = "Lettuce">
                                </label>

                                <label>Expiration Date 
                                    <input type = "date" placeholder = "12/5/2018">
                                </label>

                                <fieldset class = "cell large-5">
                                    <legend>Item Type</legend>
                                    <div class = "text-center">
                                        <input type ="radio" name = "food-type" value = "produce" id ="typeProduce" required> <label for ="typeProduce">Produce</label>
                                        <input type ="radio" name = "food-type" value = "meat" id ="typeMeat" required> <label for ="typeMeat">Meat</label>
                                        <input type ="radio" name = "food-type" value = "other" id ="typeOther" required> <label for ="typeOther">Other</label><br><br>
                                    </div>
                                </fieldset>

                                <div class = "text-center">

                                    <button id = "addItem" type = "button" class = "button"> Add! </button>

                                </div>

                                
                            </form>
                        </div>
                    </div>
            </div>

        </div>

        <div class = "grid-x"> </div>

        <div class = "li-fit-2"></div>



    </div>  

    </div>