<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Cookie|Homemade+Apple|Vibur" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
  </head>
  
  <body>

    <div class = "container">

        <div class= "grid-container">

            <h1 style = "color: black">-fridge name-</h1>
            
            <div class = "grid-x">

                <div class = "cell medium-4">

                    <div class="callout">
                        <h5>Produce</h5>
                        <ul>
                            <li>Item</li>
                            <li>Item</li>
                            <li>Item</li>
                        </ul>
                    </div>

                    <div class="callout">
                        <h5>Meat</h5>
                        <ul>
                            <li>Item</li>
                            <li>Item</li>
                            <li>Item</li>
                        </ul>
                    </div>

                    <div class="callout">
                        <h5>Other</h5>
                        <ul>
                            <li>Item</li>
                            <li>Item</li>
                            <li>Item</li>
                        </ul>
                    </div>

            </div>

            <div class = "cell medium-8">add item</div>

        </div>

        <div class = "grid-x"> </div>

        <div class = "li-fit-2"></div>



    </div>  

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
