  <div class= "container">

      <div class = "grid-x">
      </div>

      <div class = "grid-x">
        <div class = "cell large-12 text-center">
          <h1>fridgeraider.</h1>
          <a href="/signup" class="button custom">Sign up</a>
          <a href="/login" class="button custom">Login</a>

          <!-- <button id = "signup" type = "button" class = "button custom"> Sign up!</button>
          <button id = "login" type = "button" class = "button custom"> Login!</button> -->
        </div>
      </div>

      <div id = "fit">
      </div>

      

    </div>
