<div class= "container">
        
    <div class = "li-fit">

    </div>

    <div id="login-title" class = "grid-x">

        <div class = "cell medium-4"><!--blank--></div>

        <div class = "cell medium-4 text-center">

            <h1>open your fridge.</h1>

        </div>

        <div class = "cell medium-4"><!--blank--></div>

        </div>

        <div class = "grid-x">
            <div class= "cell large-5"></div>

            <div class= "cell large-2 text-center">
                <input class = "login" type = "text" placeholder= "Username, ie. johndoe6">
                <input class = "login" type = "text" placeholder= "Fridgename, ie. doe-family">

                <button class = "button custom" type = "submit">Login</button>
            </div>

            <div class= "cell large-5"></div>
        </div>


    <div class = "li-fit-2">

    </div>
 
</div>