<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Cookie|Homemade+Apple|Vibur" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
  </head>
  
  <body>

    <div class= "container">
        
        <div class = "li-fit">

        </div>

        <div id="login-title" class = "grid-x">

            <div class = "cell medium-4"><!--blank--></div>

            <div class = "cell medium-4 text-center">

                <h1>open your fridge.</h1>

            </div>

            <div class = "cell medium-4"><!--blank--></div>

            </div>

            <div class = "grid-x">
                <div class= "cell large-5"></div>

                <div class= "cell large-2 text-center">
                    <input class = "login" type = "text" placeholder= "Username, ie. johndoe6">
                    <input class = "login" type = "text" placeholder= "Fridgename, ie. doe-family">
    
                    <button class = "button custom" type = "submit">Login</button>
                </div>

                <div class= "cell large-5"></div>
            </div>


        <div class = "li-fit-2">

        </div>
     
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
