
<div id = "recipe-page" class= "container-3">

    <div id="login-title" class = "grid-x">

        <div class = "cell medium-4"><!--blank--></div>

        <div class = "cell medium-4 text-center">

            <h1 id="recipeh1">get a recipe.</h1>

        </div>

        <div class = "cell medium-4"><!--blank--></div>

        </div>

        <div class = "grid-x">
            <div class= "cell large-5"></div>

            <div class= "cell large-2 text-center">
                <input id="input1" class = "login" type = "text" placeholder= "bacon">
                <input id="input2" class = "login" type = "text" placeholder= "eggs">

                <button class = "button custom" type = "submit">Get Recipes</button>
            </div>

            <div class= "cell large-5"></div>
        </div>

        </div>


{{!-- The Recipe cards --}}

<div class="container-4" id="holder">
    <div class="row">
        <div class="containerOne" id="recipeCards"></div>
    </div>
</div>




<script src="./assets/js/recipe.js"></script>