    <div class= "container">
        
        <div class = "su-fit">

        </div>

        <div class = "grid-x">

            <div class = "cell medium-4"><!--blank--></div>

            <div class = "cell medium-4 text-center ">

                <h1>sign up</h1>

                <form id = "signupForm"> 

                    <input id = "usernameSu" class = "signup" type = "text" placeholder= "Username, ie. johndoe6">
                    <input id = "fridgenameSu" class = "signup" type = "text" placeholder= "Fridgename, ie. doe-family">
                    <input id = "phone" class = "signup" type = "text" placeholder= "Phone number, ie. 0123456789">
                    <input id = "email" class = "signup" type = "text" placeholder= "Email, ie johndoe@gmail.com">

                    <button class = "button custom" type = "submit">Sign up</button>

                </form>

            </div>

            <div class = "cell medium-4"><!--blank--></div>

            </div>


        <div class = "su-fit-2">

        </div>
     
    </div>
