<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Cookie|Homemade+Apple|Vibur" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
  </head>
  
  <body>

    <div class= "container">
        
        <div class = "su-fit">

        </div>

        <div class = "grid-x">

            <div class = "cell medium-4"><!--blank--></div>

            <div class = "cell medium-4 text-center ">

                <h1>sign up</h1>

                <input class = "signup" type = "text" placeholder= "Username, ie. johndoe6">
                <input class = "signup" type = "text" placeholder= "Fridgename, ie. doe-family">
                <input class = "signup" type = "text" placeholder= "Phone number, ie. 0123456789">
                <input class = "signup" type = "text" placeholder= "Email, ie johndoe@gmail.com">

                <button class = "button custom" type = "submit">Sign up</button>

            </div>

            <div class = "cell medium-4"><!--blank--></div>

            </div>


        <div class = "su-fit-2">

        </div>
     
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
