#index-content {
    position: relative;
    top: 50px;
    vertical-align: middle;
}

h1 {
    font-family: 'Cookie', cursive;
    color: white;
    font-size: 80px;
}

h2 {
    font-family: 'Cookie', cursive;
    color: black;
    font-size: 60px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container::after {
    content: "";
    background: url(../images/background-2.jpg);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-size: 100%;
  }
  

  .reveal {
      border-radius: 10px;
      border: dotted #de6c72 10px;
  }

  .container-2 {
    display: block;
    position: relative;
    height: 100vh;
  }
  
  .container-2::after {
    content: "";
    background: url(../images/drawer.jpg);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-size: 50%;
    height: 50vh;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100%;

  }

.grid-x {
    height: 250px;
}

#fit {
    height: 80px;
}

.custom {
    background-color: #de6c72;
    border-radius: 5px;
    color: white;
}

.custom:hover{
    background-color: #de6c72;
    opacity: 0.8;
}

.su-fit {
    height: 150px;
}

.su-fit-2 {
    height: 180px;
}

.li-fit {
    height:150px;
}

.li-fit-2 {
    height:57px;

}

#login-title {
    height: 125px;
}

#spacing {
    height: 20px;
}

.card {
    border-radius: 5px;
}

.callout {
    overflow-y: auto;
    height: 400px;
}

.fridgePage {
    background-color: #f3c1be;
    border-radius: 5px;
    color:black
}

.fridgePage:hover{
    background-color: #f3c1be;
    opacity: 0.8;
    color: black;
}

.card-divider {
    background: #f3c1be;
    font-family: 'Cookie', cursive;
    font-size: 40px;
    text-align: center;
    line-height: 20px;
}

#makeRecipe {
    color: black;
    font-family: 'Cookie', cursive;
    font-size: 24px;
    
}

#makeRecipe:hover{
    font-style: italic;
}

.error {
    padding: 0px;
    margin-bottom: 0px;
}